* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(188, 248, 228);
  display: flex;
  height: 100vh;
}

.memory-game {
  display: flex;
  height: 640px;
  flex-wrap: wrap;
  margin: auto;
  perspective: 1000px; /* the bigger, the more effect we have */
  width: 640px;
}

.card {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d; /* 3d perspective */
  transition: transform 0.4s; /* flip moviment */
  width: calc(25% - 10px);
}

.card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.card-front,
.card-back {
  background: rgb(92, 187, 182);
  backface-visibility: hidden; /* hides the backface from element */
  border-radius: 5px;
  height: 100%;
  padding: 20px;
  position: absolute;
  width: 100%;
}

/* antes, o verso aparecia transparente, pois ambas as imagens tem position absolute, ao girar no eixo Y, elas ficaram com os versos virados */
.card-front {
  transform: rotateY(180deg);
}

/* flip card animation */
.card.flip {
  transform: rotateY(180deg);
}

#reestart {
  background-color: rgb(180, 63, 63);
  border: 0px;
  border-radius: 30px;
  color: white;
  display: none;
  flex-direction: column;
  font-size: 2em;
  justify-content: center;
  height: 180px;
  left: 40vw;
  position: absolute;
  top: 30vh;
  width: 250px;

  -webkit-box-shadow: 0px 2px 48px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 48px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 48px 0px rgba(0, 0, 0, 0.75);
}

.visible {
  display: flex !important;
}
